<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'gallery', :plugin => 'gallery_board' %>
<% end %>

<%= board_breadcrumb(@board) %>

<div class="contextual">
<%= link_to l(:label_message_new),
            new_board_message_path(@board),
            :class => 'icon icon-add',
            :onclick => 'showAndScrollTo("add-message", "message_subject"); return false;' if User.current.allowed_to?(:add_messages, @board.project) %>
<%= watcher_link(@board, User.current) %>
</div>

<div id="add-message" style="display:none;">
<% if User.current.allowed_to?(:add_messages, @board.project) %>
<h2><%= link_to @board.name, project_board_path(@project, @board) %> &#187; <%= l(:label_message_new) %></h2>
<%= form_for @message, :url => new_board_message_path(@board), :html => {:multipart => true, :id => 'message-form'} do |f| %>
  <%= render :partial => 'messages/form', :locals => {:f => f} %>
  <p><%= submit_tag l(:button_create) %>
  <%= preview_link(preview_board_message_path(@board), 'message-form') %> |
  <%= link_to l(:button_cancel), "#", :onclick => '$("#add-message").hide(); return false;' %></p>
<% end %>
<div id="preview" class="wiki"></div>
<% end %>
</div>

<h2><%= @board.name %></h2>
<p class="subtitle"><%= @board.description %></p>

<% if @topics.any? %>

  <% if (@settings['style'] == '1' && @settings['boards'] != nil && @settings['boards'][@board.name] == 'on') ||
      (@settings['style'] == '0' && @settings['boards'] == nil)
  %>
    <%= render :partial => 'boards/gallery' %>
  <% else %>
    <%= render :partial => 'boards/board' %>
  <% end %>

  <p class="pagination"><%= pagination_links_full @topic_pages, @topic_count %></p>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title @board.name %>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.rss_key}, :title => "#{@project}: #{@board}") %>
<% end %>
